@model ControlBoardItemViewModel

<div class="card overflow-hidden">
    <div class="card-body bg-gradient1">
        <div class="">
            <div class="card-icon">
                <i class="far fa-user"></i>
            </div>
            <h2 class="font-weight-bold text-white">10</h2>
            <p class="text-white mb-0 font-16">أكثر 10 اصناف مطلوبة</p>
        </div>
    </div>
    <div class="card-body dash-info-carousel">
        <div id="carousel_best_saler" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="text-center">
                        <img src="assets/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xl img-thumbnail mb-1">
                        <h5>مشروب طاقة</h5>

                        <p class="mb-0 text-muted">بيانات مشروب الطاقة</p>
                        <div class="mt-2 align-item-center">
                            <h5 class="font-20 d-inline-block mb-0 mr-3 align-self-center">إجمالى المبيعات 200</h5>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-center">
                        <img src="assets/images/users/user-2.jpg" alt="user" class="rounded-circle thumb-xl img-thumbnail mb-1">
                        <h5>عصير تفاح</h5>

                        <p class="mb-0 text-muted">وصف بيانات عصير التفاح</p>
                        <div class="mt-2 align-item-center">
                            <h5 class="font-20 d-inline-block mb-0 mr-3 align-self-center">إجمالى المبيعات 200</h5>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-center">
                        <img src="assets/images/users/user-1.jpg" alt="user" class="rounded-circle thumb-xl img-thumbnail mb-1">
                        <h5>كوكتيل فواكة</h5>

                        <p class="mb-0 text-muted">وصف بيانات كوكتيل الفواكه</p>
                        <div class="mt-2 align-item-center">
                            <h5 class="font-20 d-inline-block mb-0 mr-3 align-self-center">إجمالى المبيعات 200</h5>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel_best_saler" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel_best_saler" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div><!--end card-body-->
</div><!--end card-->


<script>
    const getLink = (param) => {

    }
</script>

