<!-- Navbar Custom Menu -->
<div class="navbar-custom-menu">

    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu list-unstyled">

                <li class="has-submenu">
                    <a href="#">
                        <i class="mdi mdi-monitor"></i>
                        لوحة التحكم
                    </a>

                </li>

                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-apps"></i>الطلبات</a>
                    <ul class="submenu">
                        <li><a href="app-chat.html">الطلبات</a></li>
                        <li><a href="app-calendar.html">تفاصيل الطلبات</a></li>
                        <li><a href="app-calendar.html">حالة الطلبات</a></li>

                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-buffer"></i>طلبات الدليفري</a>
                    <ul class="submenu">
                        <li><a href="/Delivery/Area">مناطق الدليفري</a></li>
                        <li><a href="/Delivery/Requests">طلبات الدليفري</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-cards-playing-outline"></i>المنيوهات</a>
                    <ul class="submenu">
                        <li><a href="ui-alerts.html">اقسام المنيو</a></li>
                        <li><a href="ui-buttons.html">اصناف المنيو</a></li>
                    </ul>
                </li>


                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-arrow-down-drop-circle-outline"></i>العاملين</a>

                </li>

                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-chart-bar"></i>التقارير</a>

                </li>

                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-book-open-page-variant"></i>الاعدادات</a>

                </li>
            </ul>
            </li>
            </ul>
            <!-- End navigation menu -->
        </div> <!-- end navigation -->
    </div> <!-- end container-fluid -->
</div>
<!-- end left-sidenav-->
<script>

</script>

