@model QrCodeViewModel
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QR CODES</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-4 mx-auto">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <br />
                        <br />
                        <h2 class="text-center">
                            <img src="~/images/qrCodes/@Model.QrCodeUrl" style="height:300px; width:300px;" />
                        </h2>
                        <div class="product-desc">
                            @if (Model.IsShowTableName)
                            {
                                <a class="product-name text-center"> @Model.Name</a>
                            }

                            @if (Model.IsShowTableNo)
                            {
                                <a class="product-name text-center">@SharedLocalizer.GetLocalizedValue("TableNo") : @Model.TableNo</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
        <script src="/lib/toastr/toastr.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>