@model ControlBoardReviewViewModel

    <div class="card overflow-hidden">
        <div class="card-body bg-gradient3">
            <div class="">
                <div class="card-icon">
                    <i class="far fa-smile"></i>
                </div>
                <h2 class="font-weight-bold text-white">58</h2>
                <p class="text-white mb-0 font-16">تقييم من العملاء</p>
            </div>
        </div><!--end card-body-->
        <div class="card-body dash-info-carousel">
            <div id="carousel_review" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="media">

                            <div class="media-body align-self-center">
                                <h6 class="m-0">محمد احمد</h6>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="review-data mb-0">4.8<span>/ 5.0</span></p>
                            <p class="px-4 py-1 bg-soft-success d-inline-block rounded">جيد جدا</p>
                            <ul class="list-inline mb-1">
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="media">

                            <div class="media-body align-self-center">
                                <h6 class="m-0">مصطفى فتحي</h6>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="review-data mb-0">4.6<span>/ 5.0</span></p>
                            <p class="px-4 py-1 bg-soft-success d-inline-block rounded">ممتاز</p>
                            <ul class="list-inline mb-1">
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="media">
                            <img src="assets/images/flags/russia_flag.jpg" class="mr-2 thumb-xs rounded-circle" alt="...">
                            <div class="media-body align-self-center">
                                <h6 class="m-0">احمد شلبي</h6>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="review-data mb-0">5.0<span>/ 5.0</span></p>
                            <p class="px-4 py-1 bg-soft-success d-inline-block rounded">ممتاز جدا</p>
                            <ul class="list-inline mb-1">
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                                <li class="list-inline-item mr-0"><i class="mdi mdi-star text-warning font-16"></i></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel_review" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">السابق</span>
                </a>
                <a class="carousel-control-next" href="#carousel_review" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">التالى</span>
                </a>
            </div>
        </div><!--end card-body-->
    </div><!--end card-->


<script>
    const getLink = (param) => {
        
    }
</script>

